#box1
{
    height: 500px;
    width: 1000px;
    border:1px solid rgb(218, 203, 203);
    justify-content: center;
    margin-top: 7%;
    margin-left: 15%;
    background-color: rgb(245, 238, 238);
}
#box5
{
    border: 1px solid white;
    margin-left: 50%;
    margin-bottom: 0%;
    font-size: 30px;
}
.box6
{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(245, 242, 242);
    float: left;
    justify-content: center;

}

#button
{
    margin-left: 50%;
}
span
{
    font-size: 30px;
}
h1,h2
{
    text-align: center;
    font-size: 50px;
}
h3
{
    text-align: center;
    font-size: 20px; 
    color:rgb(180, 119, 119);
}
hr
{
    margin-left: 20%;
}
#button
{
    color: red;
}
p
{
    text-decoration: line-through;
    margin-left: 20%;
    color: red;
}
.box2
{
    height: 280px;
    width: 190px;
    border: 3px solid rgb(180, 119, 119);
    float: left;
    margin: 10px;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 5px 7px rgb(187, 186, 186);

}
.box3
{
    height: 300px;
    width: 260px;
    border: 3px solid rgb(180, 119, 119);
    border-radius: 10px;
    margin-left: 400px;
    /* margin-top: -10%; */
    box-shadow: 5px 7px rgb(187, 186, 186);
}
.box4
{
    height: 180px;
    width: 300px;
    border: 3px solid rgb(180, 119, 119);
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -25%;
}
